.course-list {
    display: flex;
    margin-top: 50px;
    
  }
  body{
    background-color: #f5f5f5;
  }
  
  .course {
    border: 1px solid black;
    width: 250px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    
  }
  .course:last-child {
    margin-right: 0;
  }
  .course-inner {
    text-align: center;
  }
  .course img {

    width: 100%;

    height: auto;

    object-fit: cover;

  }
 .popup-message {

    position: fixed;

    bottom: 20px;

    right: 20px;

    background-color: #f8f8f8;
  padding: 10px;

    border: 1px solid #ccc;

    border-radius: 4px;

    z-index: 9999;

  }

  .popup-content {

    display: flex;

    align-items: center;

  }

  .popup-content p {
    margin: 0;
  }