
<header class="header">
    <app-navigation></app-navigation>
     
   </header>
   
   <main>
     <div class="intro">
       <h1>Data Science</h1>
       <p>Learn Something New Today</p>
       <button>Learn More</button>
     </div>
     <div class="achievements">
       <div class="work">
         <i class="fas fa-atom"></i>
         <p class="work-heading">Projects</p>
         <p class="work-text">Expand your knowledge with our wide range of courses taught by industry experts.</p>
       </div>
       <div class="work">
         <i class="fas fa-skiing"></i>
         <p class="work-heading">Skills</p>
         <p class="work-text">Learn from experienced professionals in the field.</p>
       </div>
       <div class="work">
         <i class="fas fa-ethernet"></i>
         <p class="work-heading">Network</p>
         <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p>
       </div>
     </div>
     <div class="about-me">
       <div class="about-me-text">
         <h2>Data Science</h2>
         <p>Welcome to the course We offer a wide range of online courses covering various subjects, from technology and business to arts and sciences. Our mission is to make education accessible and convenient for learners of all ages and backgrounds.</p>
         <p>With our interactive learning materials, experienced tutors, and supportive community, you can acquire new skills, pursue your passions, and advance your career. Our courses are designed to provide comprehensive knowledge, practical skills, and real-world applications.</p>
         <p>Join us on this educational journey and unlock your potential. Start learning today and discover a world of possibilities!</p>
      </div>
      <div class="card" style="width: 50rem; height: 25rem;">

        <img src= "https://www.simplilearn.com/ice9/free_resources_article_thumb/Top_Data_Science_Facts.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a  class="btn btn-primary" (click)="changeButtonText()" [innerText]="buttonText"></a>

        </div>
      </div>
     </div>
   </main>
   
   <footer class="footer">
     <div class="copy">&copy; 2022 Developer</div>
     <div class="bottom-links">
       <div class="links">
         <span>More Info</span>
         <a href="#">Home</a>
         <a href="#">About</a>
         <a href="#">Contact</a>
       </div>
       <div class="links">
         <span>Social Links</span>
         <a href="#"><i class="fab fa-facebook"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
       </div>
     </div>
   </footer>
   
