<div class="signup-container">
    <h2>Signup</h2>
    <form (ngSubmit)="signup()">
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" required [(ngModel)]="firstName" name="firstName">
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" required [(ngModel)]="lastName" name="lastName">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" required [(ngModel)]="email" name="email">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" required [(ngModel)]="password" name="password">
      </div>
      <button type="submit">Signup</button>
    </form>
  </div>
  